@import 'tailwindcss';
@import '@fontsource/noto-sans-thai/400.css';
@import '@fontsource/noto-sans-thai/600.css';

@theme {
  --font-family-sans: 'Noto Sans Thai';
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}

@layer base {
  h1, h2, h3, h4 {
    @apply font-bold;
  }
  button {
    @apply cursor-pointer;
  }
}